<html>
    <head>
      {% if title %}
      <title>{{ title }} - Books</title>
      {% else %}
      <title>World of the Book</title>
      {% endif %}
    </head>
    <body>
        <div>Books: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('books') }}">Add Books</a>
            <a href="{{ url_for('json') }}">JSON</a>
      </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>